/* Mobile Devices: 0px to 480px */
@media screen and (max-width: 480px) {

    /* Navbar adjustments */
    .navbar {
        display: flex;
        flex-direction: column; 
        height: auto; 
        padding: 10px 5px;
        align-items: flex-start;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        margin-top: -10px;
    

      
 
    }

  .nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}

   
  
    /* margin: 0 10px; */

.nav-container-child{
    margin: 0 10px;
}
           

   
    /* Search bar adjustments */
    .nav-search {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
    }

    .search-input {
        width: 70%; /* take majority of space */
        font-size: 0.8rem;
    }

    .search-select {
        width: 20%;
        font-size: 0.8rem;
    }

    .search-icon {
        width: 10%;
        font-size: 1rem;
    }

    /* Panel adjustments */
    .panel {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px;
    }

    .panel-options {
        width: 100%;
        font-size: 0.6rem;
        display: flex;
        flex-wrap: wrap;
    }

    .panel-options p {
        margin: 3px 5px;
    }

    .panel-deals {
        font-size: 0.8rem;
        margin-top: 5px;
        text-align: center;
        width: 100%;
       }

       /* herosection */

       .hero-section{
                  background-size: cover;
                  background-repeat: no-repeat;
                  /* background-position: ; */
       }

    /* Shop section adjustments */
    .shop-section {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%; /* take most of screen width */
        height: auto;
        margin: 10px 0;
        padding: 10px 0;
    }

    .box-img {
        height: 200px; /* smaller image height for mobile */
    }

    /* Footer adjustments */


    footer{
        width: 100%;
        font-size: 0.7rem;
    }
    .foot-panel1{
         width: 100%;
         text-align: center;
         padding: 10px 0px;
         font-size: 0.8rem;

    }
    .foot-panel2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 15px;
        
    }

    .foot-panel2 ul {
        width: 100%;
        margin: 5px 0;
        padding: 0;
        list-style: none;
    }

    .foot-panel2 ul p {
    font-weight: bold;
    margin-bottom: 5px;
}

.foot-panel2 ul a{
     display: block;
     margin: 2px 0;
     text-decoration: none;
     color: white;

}
    .foot-panel3 {
        text-align: center;
        margin: 10px 0;
      
        
    }

    .foot-panel3 .logo{

        
      
        height: 40px;
        margin: auto;
        
    }

    .foot-panel4{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    .foot-panel4 .pages{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5px;
    }

    .foot-panel4 .pages a{
        margin: 2px 0;
        text-decoration: none;
        color: white;
    }

    .foot-panel4 .copyright{
        text-align: center;
        font-size: 0.6rem;
        margin-top: 5px;
    }
}
